[submodule "examples/contracts/lib/openzeppelin-contracts"]
	path = examples/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "examples/contracts/lib/forge-std"]
	path = examples/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
